<html>
    <head>
        <title>blance</title>
        <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
        <script type="text/javascript">
            $(function(){
                $('input[type="text"][name="address"]').css({border: '1px solid #DDD', width: '300px', height: '22px'})
                $('input[type="button"][name="search"]').bind('click', function() {
                    var address = $('input[type="text"][name="address"]');
                    if ($.trim(address.val()) == '') {
                        console.log('请输入一个有效的地址');
                        address.select();
                        return false;
                    }

                    $.ajax({
                        url: '/balance',
                        type: 'post',
                        data: JSON.stringify({address: $.trim(address.val())}),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function(result) {
                            if (result.ret && result.ret === 0) {
                                console.log(result.balance);
                            } else {
                                console.log(result.message);
                            }
                        },
                        error: function() {
                            console.log('request error');
                        }
                    });
                });
            });
        </script>
    </head>

    <body>
        <input type="text" name="address" />
        <input type="button" name="search" value="search" />
    </body>
</html>